<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Travel Mate - Index</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <!--
    <link rel="stylesheet" href="Content/font-awesome.css"/>
    <link rel="stylesheet" href="Content/lineicons.css"/>
    <link rel="stylesheet" href="Content/weather-icons.css"/>
    <link rel="stylesheet" href="Content/bootstrap.css"/>
    <link rel="stylesheet" href="/styles.css"/>-->
</head>
<body>
    <div class="container">
        <div class="theme-search-area-tabs">
            <div class="theme-search-area-tabs-header _c-w _ta-mob-c">
                <h1 class="theme-search-area-tabs-title">Start Your Jorney</h1>
                <p><button class="btn btn-primary">@Html.ActionLink("Search Flights Here", "SearchFlight", "Home")</button></p>
                <p class="theme-search-area-tabs-subtitle">Compare hundreds travel websites at once</p>
            </div>

            </div>
        </div>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYeBBmgAkyAN_QKjAVOiP_kWZ_eQdadeI&callback=initMap&libraries=places"></script>

</body>
</html>