<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Travel Mate - Index</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/lineicons.css" />
    <link rel="stylesheet" href="~/Content/weather-icons.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>

<body>
    <h2>SearchFlight Here</h2>
    <!--
        <div class="theme-search-area-tabs-header _c-w _ta-mob-c">
            <h1 class="theme-search-area-tabs-title">Start Your Jorney</h1>
            <p><button class="btn btn-primary">@Html.ActionLink("Search Flights Here", "FlightResultData", "Home")</button></p>
            <p class="theme-search-area-tabs-subtitle">Compare hundreds travel websites at once</p>
        </div>
    -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-7 col-xl-6 p-0 px-lg-3">
                <form>
                    <div id="SearchAreaTabs-3">
                        <div class="theme-search-area theme-search-area-stacked">
                            <div class="theme-search-area-form">
                                <div class="form-group">
                                    <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="flight-options" id="flight-option-1" onchange="handleClick(this)" value="RoundTrip" checked>Round Trip
                                        </label>
                                        <label class="btn btn-primary ">
                                            <input type="radio" name="flight-options" id="flight-option-2" onchange="handleClick(this)" value="OneWay">One Way
                                        </label>
                                    </div>
                                </div>

                                <div class="row" data-gutter="none">
                                    <div class="col-md-12 ">
                                        <div class="row" data-gutter="none">
                                            <div class="col-md-5 ">
                                                <div class="form-group ">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-map-marker"></span>
                                                        </div>
                                                        <input id="departurePlace" class="form-control theme-search-area-section-input typeahead" type="text" placeholder="Departure" data-provide="typeahead">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-5 ">

                                                <div class="form-group ">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-map-marker"></span>
                                                        </div>
                                                        <input id="arrivalPlace" class="form-control theme-search-area-section-input typeahead" type="text" placeholder="Arrival" data-provide="typeahead">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class='col-md-5'>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker6'>
                                                    <input type='text' class="form-control" id="departureDate" placeholder="24/02/2018" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class='col-md-5' id="arrivaDateVisibility">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker7'>
                                                    <input type='text' class="form-control" id="arrivalDate" placeholder="23/06/2018" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 form-group">
                                        <div class="col-md-3"><div><label class="control-label" for="Adults">Adults</label></div><div class="select-wrap"><select id="numAdults" name="Adults" class="form-control form-control-lg"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select></div></div>
                                        <div class="col-md-3"><div><label class="control-label" for="Children">Children<span class="age-brackets">(2-15)</span></label></div><div class="select-wrap"><select id="numChildren" name="Children" class="form-control form-control-lg"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option></select></div></div>
                                        <div class="col-md-3"><div></div><label class="control-label">Infants<span class="age-brackets">(0-2)</span></label><div class="select-wrap"><select id="numInfants" name="Infants" class="form-control form-control-lg"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select></div></div>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <button id="searchInfo" type="button" class="btn btn-primary btn-lg btn-block">Search</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <!--Table Result Temp-->
            <div id="flightResultDiv">
                <table id="tblFlightResult" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">AirLine</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYeBBmgAkyAN_QKjAVOiP_kWZ_eQdadeI&callback=initMap&libraries=places"></script>

</body>

</html>